@import "tailwindcss";
@import "tw-animate-css";

.font-clash {
  font-family: var(--font-clash);
}

.font-instrument {
  font-family: var(--font-instrument);
}

.font-outfit {
  font-family: var(--font-outfit);
}